    * {
        margin: 0;
        padding: 0;
        color: #0f0c27;
        line-height: 28.5px;
        scroll-behavior: smooth;
        scroll-margin-top: 6em;
        font-weight: 400;
    }
    
    @font-face {
        font-family: "g-bold";
        src: url(./font/GothamRounded-Bold.otf);
    }
    
    @font-face {
        font-family: "g-medium";
        src: url(./font/GothamRounded-Medium.otf);
    }
    
    @font-face {
        font-family: "nova";
        src: url(./font/FontsFree-Net-proxima_nova_reg-webfont.ttf);
    }
    
     :root {
        --mobile-logo: 2rem;
        --mobile-main-title: 2.5rem;
        --mobile-title: 1.54rem;
        --mobile-big-paragraph: 1.3rem;
        --mobile-paragraph: 1.1rem;
        --mobile-small-paragraph: 0.9rem;
        --desktop-logo: 4rem;
        --desktop-main-title: 4.5rem;
        --desktop-title: 2rem;
        --desktop-big-paragraph: 2rem;
        --desktop-paragraph: 1.5rem;
        --desktop-small-paragraph: 1.3rem;
    }
    
    .main-title {
        font-size: var(--mobile-main-title);
        font-family: "g-bold";
        line-height: 49px;
        color: #fff;
    }
    
    .title {
        font-size: var(--mobile-title);
        margin: 4% 0;
        font-family: "g-bold";
    }
    
    .subtitle {
        font-size: var(--mobile-title);
        font-family: "g-medium";
    }
    
    p {
        font-size: var(--mobile-paragraph);
        font-family: "nova";
    }
    
    .button-1,
    .button-2 {
        margin: 20px;
        border: none;
        border-radius: 8px;
        padding: 0.5% 5%;
        color: #fff;
        font-family: "g-bold";
        font-size: var(--mobile-small-paragraph);
    }
    /* ============================================NAVBAR========================================= */
    
    nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #0007;
        padding: 4px 10px;
        height: 57px;
        z-index: 300;
    }
    
    .logo {
        text-decoration: none;
        font-size: var(--mobile-logo);
        font-family: "g-bold";
        color: transparent;
        background-image: repeating-linear-gradient(320deg, #004e64, #9fffcb);
        -webkit-background-clip: text;
    }
    
    .logo::after {
        content: "Ar";
        color: #fff;
    }
    
    .button-container {
        margin: 5px 25px;
        border-radius: 15%;
        background-color: #fff;
        width: 43px;
        height: 38px;
    }
    /* ============================================HOME========================================= */
    
    .home__image-container {
        min-height: 680px;
        background-image: url(./img/indoor.jpg);
        background-position: 75% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .home__text-container {
        display: block;
        position: absolute;
        text-align: center;
        top: 11%;
        margin: 5%;
        height: 76%;
    }
    
    .home__text-container h3,
    .home__text-container p {
        color: #fff;
    }
    
    .home__text-container h1,
    .home__text-container h3 {
        padding: 10px 30px;
    }
    
    .home__text-container p {
        margin-top: 15%;
    }
    
    .scroll-down-svg {
        height: 75px;
        margin-top: 10px;
        fill: #fff;
    }
    
    .home__image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #014E6470;
        min-height: 680px;
        width: 100%;
    }
    /* ============================================SERVICES========================================= */
    
    .services,
    .begin {
        padding: 20px;
        text-align: center;
    }
    
    .services h2 {
        margin: 4% 0;
    }
    
    .services p {
        color: #a3a3a3;
    }
    
    .services-box {
        margin: 30px 0;
    }
    
    .services-svg {
        height: 110px;
    }
    /* ============================================HELP========================================= */
    
    .help {
        position: relative;
    }
    
    .help__image-container {
        min-height: 250px;
        background-image: url(./img/living-room3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .help__image-container::after {
        content: "";
        background-color: #004e6465;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 250px;
        width: 100%;
    }
    
    .help__text-container {
        width: 100%;
        position: absolute;
        top: 5px;
        text-align: center;
        padding: 30px 0;
    }
    
    .help__text-container h2,
    .help__text-container p {
        color: #fff;
    }
    
    .button-1 {
        background-image: linear-gradient(90deg, #25A18E, #7AE582);
    }
    
    .button-2 {
        background-image: linear-gradient(90deg, #004e64, #00A5CF);
        padding: 0.5% 6%;
    }
    /* ============================================FOOTER========================================= */
    
    footer {
        display: flex;
        flex-direction: column;
    }
    
    .waves-svg {
        opacity: 97%;
        z-index: 50;
    }
    
    .footer__text-container {
        position: relative;
        background-color: #0098BE;
        min-height: 80px;
        z-index: 100;
        padding: 20px;
        text-align: center;
    }
    
    .footer__text-container p {
        color: #fff;
        margin: 2% 0;
        font-weight: 600;
    }
    
    .footer__text-container li>p {
        font-size: var(--mobile-big-paragraph);
    }
    
    .footer__text-container h2 {
        text-align: center;
        color: #fff;
        font-weight: 900;
        margin-bottom: 5%;
        font-size: var(--mobile-main-title);
        font-family: "g-bold";
    }
    
    .divider {
        display: none;
    }
    
    .footer__text-container ul li {
        list-style: none;
    }
    
    .copyright {
        font-size: var(--mobile-small-paragraph);
    }
    /* ======================================CAMBIO DE PANTALLA================================= */
    
    @media screen and (min-width: 768px) {
        .main-title {
            font-size: var(--desktop-main-title);
            line-height: 80px;
        }
        .title {
            font-size: var(--desktop-title);
            margin: 2% 0;
        }
        .subtitle {
            font-size: var(--desktop-title);
        }
        p {
            font-size: var(--desktop-paragraph);
        }
        .button-1,
        .button-2 {
            margin-top: 4%;
            padding: 9px 25px;
            font-size: var(--desktop-paragraph);
        }
        /* ============================================NAVBAR========================================= */
        .button-container {
            display: none;
        }
        /* ============================================HOME========================================= */
        .home__text-container {
            top: 10%;
        }
        .home__text-container p {
            margin-top: 8%;
        }
        .scroll-down-svg {
            height: 100px;
        }
        /* ============================================SERVICES========================================= */
        .services__box-container {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 0;
            margin: 5% 14%;
        }
        .services-box {
            margin: 0;
        }
        .services-box h3 {
            margin: 5% 0;
        }
        .services-box p {
            font-size: var(--desktop-small-paragraph);
        }
        .services h2 {
            margin: 2%;
        }
        .services p {
            margin: 0 15%;
        }
        /* ============================================HELP========================================= */
        .help__image-container {
            background-attachment: fixed;
            background-position: 0 -50px;
            min-height: 320px;
        }
        .help__image-container::after {
            min-height: 320px;
        }
        .help__text-container {
            padding: 45px 0 0;
        }
        /* ============================================FOOTER========================================= */
        .divider {
            display: inline;
            height: 6px;
            width: 6px;
        }
        .footer__text-container {
            padding: 0;
        }
        .footer__text-container ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 7px;
        }
        .footer__text-container li>p {
            font-size: var(--desktop-small-paragraph);
        }
        .footer__text-container h2 {
            margin-bottom: 2%;
        }
        .copyright {
            font-size: var(--mobile-small-paragraph);
        }
    }